<!--============================
=            Footer            =
=============================-->

<footer class="footer section section-sm">
    <!-- Container Start -->
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-7 offset-md-1 offset-lg-0">
          <!-- About -->
          <div class="block about">
            <!-- footer logo -->
            <img src="/images/logo.gif" alt="">
            <!-- description -->
            <p class="alt-color">Website trao đổi và đăng bán tài khoản với giao diện thân thiện,
              dễ sử dụng, điều cực kỳ quan trọng đối với chúng tôi là bạn không chỉ có trải nghiệm thú vị khi mua và bán trên đây mà còn cảm thấy thoải mái và an toàn khi làm như vậy,
              Bạn không có nghĩa vụ phải cung cấp thông tin cho chúng tôi. Tuy nhiên, về vấn đề bảo mật khi tạo tài khoản, chúng tôi cần email để xác định danh tính của bạn.</p>
          </div>
        </div>
        <!-- Link list -->
        <div class="col-lg-2 offset-lg-1 col-md-3">
          <div class="block">
            <h4>Hỗ trợ</h4>
            <ul>
              <li><a href="/">Gửi phiếu hỗ trợ</a></li>
              <li><a href="https://facebook.com/Tlbb-Shop-101259035121053">Liên hệ</a></li>
              <li><a href="/terms">Điều kiện và quy tắc đăng</a></li>
            </ul>
          </div>
        </div>
        <!-- Link list -->
        <div class="col-lg-2 col-md-3 offset-md-1 offset-lg-0">
          <div class="block">
            <h4>Điều hướng</h4>
            <ul>
              <li><a href="/">Trang chủ</a></li>
              <li><a href="/account/search?sort=date-new">Xem các tài khoản hiện có</a></li>
            </ul>
          </div>
        </div>
        <!-- Promotion -->
        <!-- <div class="col-lg-4 col-md-7"> -->
          <!-- App promotion -->
          <!-- <div class="block-2 app-promotion">
            <div class="mobile d-flex">
              <a href="">
                Icon
                <img src="/images/footer/phone-icon.png" alt="mobile-icon">
              </a>
              <p>Get the Dealsy Mobile App and Save more</p>
            </div>
            <div class="download-btn d-flex my-3">
              <a href="#"><img src="/images/apps/google-play-store.png" class="img-fluid" alt=""></a>
              <a href="#" class=" ml-3"><img src="/images/apps/apple-app-store.png" class="img-fluid" alt=""></a>
            </div>
          </div> -->
        <!-- </div> -->
      </div>
    </div>
    <!-- Container End -->
  </footer>
  <!-- Footer Bottom -->
  <footer class="footer-bottom">
    <!-- Container Start -->
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-12">
          <!-- Copyright -->
          <div class="copyright">
            <p>Copyright © <script>
                var CurrentYear = new Date().getFullYear()
                document.write(CurrentYear)
              </script>. All Rights Reserved by Thiên long bát bộ Shop</p>
          </div>
        </div>
        <div class="col-sm-6 col-12">
          <!-- Social Icons -->
          <ul class="social-media-icons text-right">
            <li><a class="fa fa-facebook" href="https://facebook.com/Tlbb-Shop-101259035121053" target="_blank"></a></li>
           
          </ul>
        </div>
      </div>
    </div>
    <!-- Container End -->
    <!-- To Top -->
    <div class="top-to">
      <a id="top" class="" href="#"><i class="fa fa-angle-up"></i></a>
    </div>
  </footer>

  <!-- JAVASCRIPTS -->
<script src="/plugins/jQuery/jquery.min.js"></script>
<script src="/plugins/bootstrap/js/popper.min.js"></script>
<script src="/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="/plugins/bootstrap/js/bootstrap-slider.js"></script>
  <!-- tether js -->
<script src="/plugins/tether/js/tether.min.js"></script>
<script src="/plugins/raty/jquery.raty-fa.js"></script>
<script src="/plugins/slick-carousel/slick/slick.min.js"></script>
<script src="/plugins/jquery-nice-select/js/jquery.nice-select.min.js"></script>
<script src="/plugins/fancybox/jquery.fancybox.pack.js"></script>
<script src="/plugins/smoothscroll/SmoothScroll.min.js"></script>
<!-- google map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcABaamniA6OL5YvYSpB3pFMNrXwXnLwU&libraries=places"></script>
<script src="/plugins/google-map/gmap.js"></script>
<!-- config -->
<script src="/js/config.js"></script>
<!-- bundle js convert -->
<script src="/plugins/bundle/bundle.js"></script>
<script src="/plugins/bundle/loadBundle.js"></script>

<!-- iziToast -->
<script src="/plugins/iziToast/iziToast.min.js"></script>

<!-- helper -->
<script type="text/javascript" src="/js/helper.js"></script>

<!-- Socket IO -->
<script src="/socket.io/socket.io.js"></script>
<script src="/js/io/io.js"></script>

<script src="/js/script.js"></script>
