<section>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<nav class="navbar navbar-expand-lg navbar-light navigation">
					<a class="navbar-brand" href="/">
						<img src="/images/logo.gif" alt="">
					</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
					 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav ml-auto main-nav ">
							<li class="nav-item active">
								<a class="nav-link" href="/">Trang chủ</a>
							</li>
							<li class="nav-item dropdown dropdown-slide">
								<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="">Phái<span><i class="fa fa-angle-down"></i></span>
								</a>

								<!-- Dropdown list -->
								<div class="dropdown-menu">
									<a class="dropdown-item" href="dashboard.html">Nga my</a>
									<a class="dropdown-item" href="dashboard-my-ads.html">Thiếu Lâm</a>
									<a class="dropdown-item" href="dashboard-favourite-ads.html">Tỉnh Túc</a>
									<a class="dropdown-item" href="dashboard-archived-ads.html">Tiêu Dao</a>
									<a class="dropdown-item" href="dashboard-pending-ads.html">Thiên Sơn</a>
								</div>
							</li>
							<li class="nav-item dropdown dropdown-slide">
								<a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Thể loại <span><i class="fa fa-angle-down"></i></span>
								</a>
								<!-- Dropdown list -->
								<div class="dropdown-menu">
									<a class="dropdown-item" href="about-us.html">Full 5</a>
									<a class="dropdown-item" href="contact-us.html">Full 5 + 6</a>
									<a class="dropdown-item" href="user-profile.html">Full 6</a>
									<a class="dropdown-item" href="404.html">Full 6 + 7</a>
									<a class="dropdown-item" href="store.html">1 Thuộc Tính</a>
                                    <a class="dropdown-item" href="single-blog.html">2 Thuộc Tính</a>
                                    <a class="dropdown-item" href="blog.html">3 Thuộc Tính</a>
                                    <a class="dropdown-item" href="package.html">PK</a>
									<a class="dropdown-item" href="single.html">Phó bản</a>
								</div>
							</li>
							<li class="nav-item dropdown dropdown-slide">
								<a class="nav-link dropdown-toggle" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Hỗ trợ <span><i class="fa fa-angle-down"></i></span>
								</a>
								<!-- Dropdown list -->
								<div class="dropdown-menu">
									<a class="dropdown-item" href="category.html">Điều Khoản</a>
									<a class="dropdown-item" href="ad-listing-list.html">Trợ Giúp</a>
								</div>
							</li>
						</ul>
						<ul class="navbar-nav ml-auto mt-10">
							<li class="nav-item">
								<div >
								<% if(userSS){ %>
									<%
									if(userSS.type === 'web')
										userSS.urlImage = '/images/member.png'
									if (userSS.type === 'facebook')
										userSS.urlImage = `http://graph.facebook.com/${userSS.idFacebook}/picture?type=square`
									%>
									<img style="padding-bottom: 2px" src="<%= userSS.urlImage %>" width=50 height=40 class="rounded-circle" style="padding: 0; margin: 0">
									<span style="padding-right: 2em; padding-left: 0.1em; margin-top: 30px" > <%= userSS.name %> </span>
								<% }else{ %>
								<a class="nav-link login-button" href="/user/login">Đăng nhập</a>
								<% } %>
								</div>
							</li>
							<li class="nav-item">
								<a class="nav-link text-white add-button" href="/user/add-account"><i class="fa fa-plus-circle"></i> Tạo Bài Đăng</a>
							</li>
						</ul>
					</div>
				</nav>
			</div>
		</div>
	</div>
</section>