<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/head %>
<style>

	.giaoluu{
		background: red !important;
	}

	
	.allPGL{
          background: rgb(241, 6, 241)!important;
      }

</style>
</head>

<body class="body-wrapper">

<!--===============================
=            Menu        =
================================-->
  <% include partials/menu %>

<!--===============================
=            Hero Area            =
================================--> 

<section class="page-title">
	<!-- Container Start -->
	<div class="container">
		<div class="row">
			<div class="col-md-8 offset-md-2 text-center">
				<!-- Title text -->
				<h3>Điều khoản và điều kiện</h3>
			</div>
		</div>
	</div>
	<!-- Container End -->
</section>

<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 mx-auto p-0">
               <div class="terms-condition-content">
                <h3 class="py-3">Thiên long bát bộ Shop Điều khoản & Điều kiện</h3>
                <p>Vui lòng đọc kỹ phần sau để hiểu cách chúng tôi sẽ thu thập và sử dụng dữ liệu cá nhân của bạn liên quan đến Dịch vụ. Nếu bạn không hiểu chính sách này hoặc không chấp nhận bất kỳ phần nào của chính sách, thì bạn không nên sử dụng Dịch vụ. Dịch vụ có thể bao gồm và liên kết đến các tính năng và dịch vụ (chẳng hạn như các ứng dụng xã hội như Facebook Messenger, WhatsApp và iMessenger) do bên thứ ba cung cấp. Nếu bạn sử dụng các tính năng và dịch vụ này, vui lòng hiểu rằng các bên thứ ba điều hành chúng có thể thu thập thông tin từ bạn, thông tin này sẽ được sử dụng theo chính sách bảo mật và điều khoản sử dụng của chính họ, có thể khác với của chúng tôi.</p>
                <p>Chúng tôi không chịu bất kỳ trách nhiệm hoặc nghĩa vụ pháp lý nào đối với các chính sách này hoặc đối với bất kỳ dữ liệu cá nhân nào có thể được thu thập thông qua các trang web hoặc dịch vụ này. Bạn phải luôn đọc kỹ chính sách bảo mật của bất kỳ tính năng hoặc dịch vụ nào mà bạn truy cập để hiểu các quy định cụ thể về quyền riêng tư và sử dụng thông tin. Thông tin chúng tôi có thể thu thập từ bạn và cách chúng tôi sử dụng thông tin đó. </p>
                <h5 class="py-3">Chúng tôi có thể thu thập và xử lý các dữ liệu sau về bạn thông qua Dịch vụ: </h5>
                <p><span class="font-weight-bold text-dark">• Thông tin cá nhân bạn cung cấp cho chúng tôi:</span> Chúng tôi nhận và lưu trữ bất kỳ thông tin nào mà bạn nhập vào Dịch vụ hoặc cung cấp cho chúng tôi theo bất kỳ cách nào khác, chẳng hạn như khi bạn tải xuống Dịch vụ, thiết lập hồ sơ trong Dịch vụ hoặc truy cập, tải lên hoặc tải xuống tài liệu từ hoặc từ Dịch vụ , kể cả khi tài liệu đó được truy cập trên nền tảng, dịch vụ hoặc mạng xã hội của bên thứ ba (chẳng hạn như Facebook), mạng xã hội đó hoặc bên thứ ba có thể cung cấp cho chúng tôi thông tin mà bạn đã đồng ý mà mạng xã hội hoặc nền tảng của bên thứ ba khác có thể cung cấp như thông qua mạng xã hội € TM hoặc nền tảng của bên thứ baa € TMs Giao diện lập trình ứng dụng (API) dựa trên cài đặt của bạn trên nền tảng hoặc mạng xã hội của bên thứ ba. Các loại thông tin cá nhân được thu thập có thể bao gồm địa chỉ email, ảnh hồ sơ, tên người dùng và mật khẩu của bạn. Chúng tôi sử dụng thông tin này để xác nhận bạn là người dùng khi sử dụng Dịch vụ, để cung cấp Dịch vụ cho bạn, bao gồm cả việc quản lý tài khoản người dùng của bạn, để thông báo cho bạn về những thay đổi đối với Dịch vụ hoặc về bất kỳ thay đổi nào đối với các điều khoản và điều kiện của chúng tôi hoặc chính sách bảo mật này , để quản lý hoạt động kinh doanh của chúng tôi, bao gồm báo cáo tài chính, để phát triển các sản phẩm và dịch vụ mới, gửi cho bạn bản tin tiếp thị và quảng cáo các sản phẩm và dịch vụ của chúng tôi qua email, tuân thủ luật hiện hành, lệnh tòa và yêu cầu của cơ quan thực thi chính phủ, để nghiên cứu và các mục đích phân tích bao gồm cải thiện chất lượng của Dịch vụ và đảm bảo rằng Dịch vụ được cung cấp theo cách hiệu quả nhất cho bạn và thiết bị của bạn. Chi tiết về Thư từ: Nếu bạn liên hệ với chúng tôi, chúng tôi có thể lưu hồ sơ về thư từ đó. Chúng tôi sẽ không lưu giữ hồ sơ về thư từ đó lâu hơn mức cần thiết một cách hợp lý. </p>
                <p><span class="font-weight-bold text-dark">• Thông tin cá nhân mà chúng tôi tự động thu thập:</span> Khi bạn sử dụng Dịch vụ, chúng tôi tự động thu thập thông tin về thiết bị bạn sử dụng để truy cập và việc sử dụng Dịch vụ của bạn. Thông tin chúng tôi thu thập có thể bao gồm (nếu có) loại và kiểu thiết bị bạn sử dụng, số nhận dạng thiết bị duy nhất của thiết bị, hệ điều hành, loại trình duyệt, tùy chọn ngôn ngữ, múi giờ hiện tại và thông tin mạng di động để cho phép bạn sử dụng Dịch vụ, mục đích quản trị hệ thống và để báo cáo thông tin tổng hợp, ẩn danh cho các đối tác kinh doanh của chúng tôi. Nếu bạn không muốn cung cấp thông tin tổng hợp, ẩn danh cho các đối tác kinh doanh đáng tin cậy của chúng tôi, vui lòng tìm hiểu cách từ chối sử dụng cookie phân tích của chúng tôi trong phần cookie bên dưới. Chúng tôi sử dụng thông tin này để quản lý Dịch vụ và cho các hoạt động nội bộ của chúng tôi bao gồm khắc phục sự cố, phân tích dữ liệu, thử nghiệm, nghiên cứu, thống kê và khảo sát, nhằm cải thiện Dịch vụ, cách thức trình bày cũng như tính an toàn và bảo mật của Dịch vụ. Xin lưu ý rằng Dịch vụ yêu cầu quyền truy cập vào ứng dụng lưu trữ ảnh thiết bị của bạn để lưu trữ các video đã hoàn chỉnh, nhưng chúng tôi không lấy bất kỳ thông tin, video, ảnh hoặc nội dung nào khác từ ứng dụng lưu trữ ảnh trên thiết bị của bạn. </p>
                <p><span class="font-weight-bold text-dark">• Thông tin nhật ký:</span> Khi bạn sử dụng Dịch vụ, chúng tôi có thể tự động thu thập và lưu trữ các thông tin sau trong nhật ký máy chủ: địa chỉ giao thức Internet (IP), nhà cung cấp dịch vụ Internet (ISP), dữ liệu dòng nhấp, loại trình duyệt và ngôn ngữ, các trang đã xem và thoát và dấu ngày hoặc giờ . Chúng tôi sử dụng thông tin này để liên lạc với Dịch vụ và hiểu rõ hơn về hệ điều hành của người dùng, để quản trị hệ thống và kiểm tra việc sử dụng Dịch vụ. Chúng tôi không sử dụng dữ liệu này để xác định tên, địa chỉ hoặc các chi tiết cá nhân khác của bất kỳ cá nhân nào. </p>
               </div>
            </div>
        </div>
    </div>
</section>



<% include partials/footer %>

</body>

</html>



