<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../../partials/head %>
</head>

<body class="body-wrapper">
  <% include ../../partials/menu %>
<section class="ad-post bg-gray py-5">
    <div class="container">
            <!-- Post Your ad start -->
            <fieldset class="border border-gary p-4 mb-5">
                <% if(typeof csrfToken !== "undefined"){ %>
                    <input type="hidden" id="_csrf" value="<%= csrfToken %>">
                <% } %>
                    <div class="row">
                        <div id="alert" class="alert alert-primary d-none" role="alert">
                            A simple primary alert—check it out!
                        </div>
                        <div class="col-lg-12">
                            <h3>Thêm Item</h3>
                        </div>
                        <div class="col-lg-12">
                            <h6 class="font-weight-bold pt-4 pb-1">Tên:</h6>
                            <input id="title" type="text" name="title" class="border w-100 p-2 bg-white" placeholder="eg: Võ Hồn">
                            
                            <h6 class="font-weight-bold pt-4 pb-1">Slug:</h6>
                            <input id="slug" type="text" name="slug" class="border w-100 p-2 bg-white" placeholder="eg: vohon">
                        
                            <button id="submit" type="submit" class="btn btn-info d-block mt-2"><i class="fas fa-plus"></i>  Thêm</button>
                        </div>
                            
                    </div>
                    </div>
            </fieldset>
    </div>
    
</section>
<!--============================
=            Footer            =
=============================-->

<% include ../../partials/footer %>
<script src="/js/admin/item/add-item.js"></script>
</body>

</html>